@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

.rubikTxt{
    font-family: 'Rubik Moonrocks', cursive !important;
}

.outlineTxt{
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-weight: bold;
}