.container {
  width: 100%;
  height: fit-content;
  position: relative;
}


.firstLayer{
    width: 100%;
    height: 200vh;
    background-color: rgb(83, 0, 96);
    margin-bottom: 100vh;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondLayer{
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: 0;
  background-color: rgb(96, 27, 27);
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
